body {
	background-color: black;
}

#container {
	width: 1000px;
	height: 1000px;
	overflow: hidden;
	top: 50%;
	left: 50%;
	margin-top: -500px;
	margin-left: -500px;
	z-index: 20;
	position: absolute;
}

#burstBg {
	position: absolute;	
	top: 50%;
	margin-top: -575.5px;
	left: 50%;
	margin-left: -600px;
	z-index: -6;
	width: 1200px;
	height: 1151px;
}

#diag {
	position: absolute;
	z-index: -5;
	top: 50%;
	left: 50%;
}

/*top*/
#rightDiag {
	position: absolute;
	z-index: -5;
	margin-top: -551px;
	margin-left: -600px;
	height: 551px;
	width: 1200px;
}

/*bottom*/
#leftDiag {
	position: absolute;
	z-index: -5;
	margin-top: 0px;
	margin-left: -600px;
	height: 551px;
	width: 1200px;
	
}

#button {
	position: absolute;
	z-index: 9;
	height: 200px;
	width: 850px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -425px;
}

#topDoor {
	position: absolute;
	top: 50%;
	margin-top: -481px;
	left: 50%;
	margin-left: -550px;
	z-index: -4;
}

#bottomDoor {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -550px;
	z-index: -4;
}

#flare {
	position: absolute;
	top: 50%;
	margin-top: -562.2px;
	left: 50%;
	margin-left: -605.25px;
	z-index: -3;
	opacity: 0;
	
}

#spotlight {
	position: absolute;
	top: 50%;
	margin-top: -650px;
	left: 50%;
	margin-left: -650px;
	z-index: -2;
}

#subscribeForm {
	
}

.form {

}

.message {
	background-color: black;
	height: 170px;
	width: 300px;
	top: 50%;
	left: 50%;
	margin-top: 60px;
	margin-left: -200px;
	position: absolute;
	z-index: 9;
	font-size: 12pt;
	text-align: center;
	font-family: Tahoma;
	opacity: 0;
	color: white;
	padding: 0 50px;
}

#email {
	width: 200px;
	font-size: 15pt;
	color: #CCC;
}

.error { 
    color: red; 
    font-size: 16pt;  
}
.success { 
	color: green; 
	font-size: 16pt;  
}
